frontend http
    bind *:8080
    mode http
    timeout client 10s
    use_backend all


backend all
    mode http
    server s1 goadmin1:1111
    server s2 goadmin2:2222
    server s3 goadmin3:3333
    server s4 goadmin4:4444